{
  "extends": [
    "@stylistic/stylelint-config",
    "stylelint-config-standard"
  ],
  "rules": {
    "at-rule-no-unknown": [true, {"ignoreAtRules": ["layer", "tailwind", "theme", "utility", "variant", "custom-variant", "source"]}],
    "import-notation": "string"
  },
  "ignoreFiles": ["dist/**"]
}
