.x-drawer {
  --default-transition-duration: 0.5s;

  position: fixed;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  max-width: none;
  max-height: none;
  background-color: transparent;
  timeline-scope: --x-drawer-fade;
  animation: fade-drawer-backdrop linear both;
  animation-timeline: --x-drawer-fade;

  @media (scripting: none) {
    width: fit-content;
    height: fit-content;

    &,
    &::backdrop {
      transition-property: var(--default-transition-property);
      transition-timing-function: var(--ease-in-out);
      transition-duration: var(--default-transition-duration);
      transition-behavior: allow-discrete;
    }

    &::backdrop {
      --x-drawer-backdrop: 1;
    }

    &:not([open]) {
      &::backdrop {
        --x-drawer-backdrop: 0;
      }
    }

    @starting-style {
      &[open] {
        opacity: 0;

        &::backdrop {
          --x-drawer-backdrop: 0;
        }
      }
    }
  }

  &::backdrop {
    background-color: rgb(0 0 0);
    opacity: calc(var(--x-drawer-backdrop) * 0.8);

    @supports not (animation-timeline: --x) {
      --x-drawer-backdrop: 1;
    }
  }
}

@keyframes fade-drawer-backdrop {
  0% {
    --x-drawer-backdrop: 1;
  }

  100% {
    --x-drawer-backdrop: 0;
  }
}

@property --x-drawer-backdrop {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
