.x-drawer {
  z-index: var(--x-drawer-z-index, var(--z-index-30));
  position: fixed;
  inset: 0;
  display: flex;
  overflow: auto hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: transparent;

  &:not([open]) {
    display: none;
  }

  &,
  &::backdrop {
    transition-property: var(--default-transition-property);
    transition-timing-function: var(--ease-in-out);
    transition-duration: var(--default-transition-duration);
    transition-behavior: allow-discrete;
    opacity: 0;
  }

  &::backdrop {
    background-color: rgb(0 0 0 / 80%);
  }

  &[open] {
    opacity: 1;

    @starting-style {
      opacity: 0;
      transform: translateY(-2rem);
    }
  }

  &[open]::backdrop {
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &::after {
    content: "";
    min-inline-size: 100vw;
    scroll-snap-align: end;
    scroll-initial-target: nearest;
  }

  &.flex-col {
    overflow: hidden auto;

    &::after {
      min-block-size: 100dvh;
    }
  }
}
