@layer components {
  x-popover {
    --starting-scale: 0.75;
    --starting-opacity: 0;

    position: absolute;
    inset: auto;
    overflow: visible;
    container-type: anchored;
    transition-property: var(--default-transition-property);
    transition-timing-function: var(--ease-in-out);
    transition-duration: var(--default-transition-duration);
    transition-behavior: allow-discrete;

    @starting-style {
      opacity: var(--starting-opacity);
    }

    &:not(:popover-open) {
      opacity: var(--starting-opacity);
    }
  }

  x-popover-content {
    display: block;
    transition-property: var(--default-transition-property);
    transition-timing-function: var(--ease-in-out);
    transition-duration: var(--default-transition-duration);
    transition-behavior: allow-discrete;

    @starting-style {
      scale: var(--starting-scale);
    }

    x-popover:not(:popover-open) > & {
      scale: var(--starting-scale);
    }
  }
}

@utility bottom {
  position-area: block-end center;
  position-try-fallbacks: flip-block;

  > * {
    transform-origin: top;
  }

  @container anchored(fallback: flip-block) {
    > * {
      transform-origin: bottom;
    }
  }
}

@utility bottom-start {
  position-area: block-end span-inline-end;
  position-try-fallbacks: flip-block;

  > * {
    transform-origin: top left;
  }

  @container anchored(fallback: flip-block) {
    > * {
      transform-origin: bottom left;
    }
  }
}

@utility bottom-end {
  position-area: block-end span-inline-start;
  position-try-fallbacks: flip-block;

  > * {
    transform-origin: top right;
  }

  @container anchored(fallback: flip-block) {
    > * {
      transform-origin: bottom right;
    }
  }
}

@utility top {
  position-area: block-start center;
  position-try-fallbacks: flip-block;

  > * {
    transform-origin: bottom;
  }

  @container anchored(fallback: flip-block) {
    > * {
      transform-origin: top;
    }
  }
}

@utility top-start {
  position-area: block-start span-inline-end;
  position-try-fallbacks: flip-block;

  > * {
    transform-origin: bottom left;
  }

  @container anchored(fallback: flip-block) {
    > * {
      transform-origin: top left;
    }
  }
}

@utility top-end {
  position-area: block-start span-inline-start;
  position-try-fallbacks: flip-block;

  > * {
    transform-origin: bottom right;
  }

  @container anchored(fallback: flip-block) {
    > * {
      transform-origin: top right;
    }
  }
}

@utility left {
  position-area: inline-start center;
  position-try-fallbacks: flip-inline;

  > * {
    transform-origin: right;
  }

  @container anchored(fallback: flip-block) {
    > * {
      transform-origin: left;
    }
  }
}

@utility left-start {
  position-area: inline-start span-block-end;
  position-try-fallbacks: flip-inline;

  > * {
    transform-origin: right top;
  }

  @container anchored(fallback: flip-block) {
    > * {
      transform-origin: left top;
    }
  }
}

@utility left-end {
  position-area: inline-start span-block-start;
  position-try-fallbacks: flip-inline;

  > * {
    transform-origin: right bottom;
  }

  @container anchored(fallback: flip-block) {
    > * {
      transform-origin: left bottom;
    }
  }
}

@utility right {
  position-area: inline-end center;
  position-try-fallbacks: flip-inline;

  > * {
    transform-origin: left;
  }

  @container anchored(fallback: flip-block) {
    > * {
      transform-origin: right;
    }
  }
}

@utility right-start {
  position-area: inline-end span-block-end;
  position-try-fallbacks: flip-inline;

  > * {
    transform-origin: left top;
  }

  @container anchored(fallback: flip-block) {
    > * {
      transform-origin: right top;
    }
  }
}

@utility right-end {
  position-area: inline-end span-block-start;
  position-try-fallbacks: flip-inline;

  > * {
    transform-origin: left bottom;
  }

  @container anchored(fallback: flip-block) {
    > * {
      transform-origin: right bottom;
    }
  }
}

@source inline("bottom bottom-start bottom-end top top-start top-end left left-start left-end right right-start right-end");
